.range {
  border: solid 1px black;
  max-width: 110px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  display: block;

  background: linear-gradient(
    rgba(167, 207, 240, 0.4),
    rgba(92, 168, 240, 0.4)
  );
}
.forecastIcon {
  width: 50px;
  height: 50px;
}
